<mat-card>


<input placeholder="Ticker" matInput class="form-control" type="text" [(ngModel)]="ticker"/>


<input placeholder="Number of Days" matInput class="form-control" type="text" [(ngModel)]="numDays"/>

<button color="primary" mat-raised-button class="btn btn-primary" (click)="getPriceData()">Get Price Data</button>

<hr>

<table class="table table-striped">
    <thead>
        <th>Date</th>
        <th>Price (USD)</th>
    </thead>
    <tr *ngFor="let price of priceData">
        <td>{{ price[0] }}</td>
        <td>{{ price[1] }}</td>
    </tr>
</table>
</mat-card>

<br>
<br>
<br>
<br>


<div *ngIf = "chartData != null">
    <ngx-charts-line-chart [results]="chartData"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
    >
    
    </ngx-charts-line-chart>
</div>


