
<mat-toolbar style="justify-content: centre"  color="primary" class="toolbar">
<mat-toolbar-row style="justify-content: center;" id="test">
<h2> T/S <br> Trade Smart</h2>
</mat-toolbar-row>
</mat-toolbar>

<div class="row" id="ticker">
<marquee>
 <strong>AAPL: </strong> 115.75
 
 <strong>AMZN: </strong> 3176.39
 
 <strong>GOOG: </strong> 1615.32
 
 <strong>C: </strong> 43.95
 
 <strong>GM: </strong> 37.40
 <strong>KO: </strong> 50.68
 <strong>GE: </strong> 7.71
 <strong>CSCO: </strong> 38.81
 <strong>JNJ: </strong> 145.08
 <strong>HPQ: </strong> 19.35
 </marquee>

</div>