

<div class="card col-4"> 

<mat-card>

<h1>New Trade</h1>
<form (submit) = "addTrade(tradeForm)" #tradeForm = "ngForm">
<mat-form-field appearance="fill">
<input matInput ngModel name="ticker"placeholder="Enter Ticker" type="text" required #tickerInput="ngModel">
  <mat-error *ngIf="tickerInput.invalid">Please enter a valid option.</mat-error>
</mat-form-field>
<br>
<mat-form-field>
<input matInput ngModel name="quantity"placeholder="Quantity" type="number" required #quantityInput="ngModel">
<mat-error *ngIf="quantityInput.invalid">Please enter a quantity.</mat-error>
</mat-form-field>
<br>

<mat-form-field appearance="fill">
  <select ngModel name="type" matNativeControl required #typeInput="ngModel">
    <option value="BUY">BUY</option>
    <option value="SELL">SELL</option>
  </select>
  <mat-error *ngIf="typeInput.invalid">Please enter a valid option.</mat-error>
</mat-form-field>
<br>

<button color="primary" type="submit" mat-raised-button> SUBMIT ORDER</button>
</form>

</mat-card>




</div>


<div class="card col-4"> 

<mat-card>

<h1>Recent Transactions</h1>

<button color="primary" onclick="window.location.reload()" mat-stroked-button> STATUS UPDATE</button>

<mat-card class="card2" *ngFor="let trade of trades">
<p><strong>Ticker: </strong>{{trade.ticker}}</p>
<p><strong>Price per Share: </strong>${{trade.price}}</p>
<p><strong>Quantity: </strong>{{trade.quantity}}</p>
<p><strong>Trade Type: </strong>{{trade.tradeType}}</p>
<p><strong>Trade State: </strong>{{trade.tradeState}}</p>



</mat-card>


</mat-card>




</div>






