.card {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.card2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border: black solid thin;
}